/*************************
** GLOBAL STYLES *********
*************************/

/*Defaults*/
html {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #232323;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

div.center {
    display: block;
    margin: auto;
}

div.section {
    padding: 20px 0px 20px 0px;
}

div.section.dark {
    background-color: #191919;
}

a.clickyBlock {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

a {
    color: white;
}

/*Project Card Styles*/

div.project-card {
    position: relative;
    display: flex;
    margin: auto;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 500px;
    background-color: #343367;
    text-align: left;
}

div.project-card:hover {
    background-color: #4e4c9c;
}

@media screen and (max-width: 500px) {
    div.project-card {
        flex-flow: column;
    }
    div.project-card > div >img {
        max-width: 150px;
    }
}

div.project-card > div {
    margin: 10px;
}

div.project-card > div.img-cont {
    overflow: hidden;
    flex: 1 0;
    
}

div.project-card > div >img {
    width: 100%;
    display: block;
    margin: auto;
}

div.project-card > div.desc-cont {
    flex: 2;
}

/*Footers*/
div#footer {
    background-color: #101010;
    width: 100%;
    padding: 20px 0px 20px 0px;
}

div.footer-icons {
    display: inline-block;
}

div.footer-icons > a {
    color: white;
    text-decoration: none;
    font-size: larger;
    letter-spacing: 10px;
}

div.footer-c {
    background-color: #333333;
    display: inline;
}

/*Profile pictures*/
div.propic {
    background-image: url(Images/fe_space_propic.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #333333;
}

div.propic-main {
    min-width: 50px;
    min-height: 50px;
    max-width: 300px;
    max-height: 300px;
    height: 20vh;
    width: 20vh;
    border-radius: 10vh;
    border: 2px solid white;
}

/*****************************
** PAGE: root ****************
*****************************/

div.insta-snapwidget {
    max-width: 800px;
    position: relative;
}

